http://:8546 {
  encode gzip
  # Forward all requests to internal Hardhat JSON-RPC
  reverse_proxy http://chain:8545
  header Access-Control-Allow-Origin "*"
  header Access-Control-Allow-Methods "GET, POST, OPTIONS"
  header Access-Control-Allow-Headers "Content-Type, Authorization"
  @options method OPTIONS
  respond @options 204
}
